<%= stylesheet_link_tag "login", :media => "all" %>
<%# = YAML::dump(@resource) %> 
<div id="container-login">
	<div class="top-login">
		<h3>Bem vindo a cria&ccedil;&atilde;o de contas do Formulate</h3>
	</div>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  
  <div><%= f.label :email %>
	  <%= f.email_field :email, :class => 'input-medium' %></div>
	
	  <div><%= f.label :password %>
	  <%= f.password_field :password %>
	  
	  <%= f.label :password_confirmation %>
	  <%= f.password_field :password_confirmation %></div>     
  
   <!--<div><%#= f.label :name %>
	  	
	  	<%#= f.text_field :name, :class => 'input-medium' %></div>
	  	-->

  <div><%= f.submit "Sign up" %></div>
<% end %>
</div>
<%= render "devise/shared/links" %>
