<h3>Listing choices</h3>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Descryption</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @choices.each do |choice| %>
  <tr>
    <td><%= choice.descryption %></td>
    <td><%= link_to 'Show', choice %></td>
    <td><%= link_to 'Edit', edit_choice_path(choice) %></td>
    <td><%= link_to 'Destroy', choice, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Choice', new_choice_path, :class => "btn btn-primary" %>
