<script type='text/javascript'>
$('#field_label').change(function(){
  	changeLabel()
  }) 
 $('#field_instruction').change(function(){
 	changeInstruction()
 })
 $('#field_lenght').change(function(){
 	changeFieldSize()
 })
 </script>
<%= form_for(@field,:url => "#", :remote => true) do |f| %>
  <li id="listTitle" class="field">  	
  	<label class="desc">
    <%= f.label :label %>
	</label>
	<div>
    	<%= f.text_field :label, :class => "input-xlarge" %>
   	</div>
  </li>  
  <li id="listTitle" class="field">  	
  	<%= f.hidden_field :form_id %>
    <%= f.hidden_field :id%>
    <%= f.hidden_field :descryption %>   	
  </li>  
  <div class="field">
    <label><%= f.label :lenght, "Field Size:" %></label>    
    <%= select_tag "field[lenght]", options_for_select([['Small', 0], ['Medium', 1], ['Large', 2]], @field.lenght)  %>
  </div>
  <div class="field-options">
    <label><strong>Options</strong></label>
    Required ? <%= check_box_tag "field[value_unique]",  "1", verificaRequired, :onclick => "addremRequired();" %>
  </div>
  <div class="field-options">
    <label><strong>Show Field to</strong></label>
    <%= radio_button_tag "field[view]",  "1", verificaShow(1), :onclick => "showField(1);" %> Everyone <br />
    <%= radio_button_tag "field[view]",  "2", verificaShow(2), :onclick => "showField(2);" %> Admin Only <br />
  </div>
  <div class="field-options">
  	<label><strong>Range</strong></label>    
    	<table>
    		<tr>
	    		<th class="left"><%= f.label :min %></th>
	    		<th class="left"><%= f.label :max %></th>
	    		<th class="left"><%= f.label :formated %></th>
    		</tr>
    		<tr>
				<td class="left"><%= f.number_field :min, :class=> 'medium' %></td>
				<td class="left"><%= f.number_field :max, :class => 'medium' %> </td>
				<td class="left"><%= select_tag "field[formated]", options_for_select(verifyTypeFormated(), @field.formated), :class => 'formated-select'%></td>				  		
    		</tr>
    	</table>    
  </div>
  <div class="field">
    <label><%= f.label :predefined, "Predefine Values" %></label>
    <%= f.text_field :predefined %>
  </div>
  <div class="field">
    <label><%= f.label :instruction, "Instruction for User" %></label>
    <%= f.text_area :instruction, :size => '35x5', :class => 'input-xlarge'  %>
  </div>
  <div class="actions">
    <%= link_to "Enviar", "#", :onclick => "salvarField();", :class => "btn", :remote => true %>
  </div>
<% end %>












