<%= javascript_include_tag "forms", :media => "all" %>
<%= form_for(@form) do |f| %>
  <div class="container-fluid">
  	<div class="row-fluid">
	  		<div class="span5 forms" style="width:380px !important;">
	  		  <!-- ABAS -->	
	  			
	  			
	  		   <ul id=''myTab' class="nav nav-tabs" >
	  		   	<li><a href="#forms" data-toggle="tab">Form Settings</a></li>
	  		   	<li><a href="#addfield" data-toggle="tab">Add a Field</a></li>
	  		   	<li><a href="#setfield" data-toggle="tab">Field Settings</a></li>
	  		   </ul>
	  		   
	  		   <div id='myTabContent' class="tab-content">
		  		  <div id="forms" class="tab-pane fade">
		  		  	<%= render "forms", :f => f %>
		  		  </div>	
		  		  <div id="addfield" class="tab-pane fade">
		  		  	<%= render "addfield" %>
		  		  </div>
		  		  <div id="setfield" class="tab-pane fade">		  		  	
		  		  </div>
		  		</div>
		  		<!-- FIM ABAS -->    
			</div>
			<div class="span7">
			  <%= f.hidden_field :account_id %>  
			  <div id="stage" class="afi">
			  	  <div id='main'>
			  	  	<div id="formPreview">
				  	  	<form id="formPreview">
				  	  		<% if !@form.nil?%>
				  	  			<div class="form-title">
				  	  				<h3><strong><%=@form.name%></strong><br /></h3>
				  	  				<%= @form.descryption %><br /><br />		  	  				
				  	  			</div>				  	  			
				  	  			<% 
				  	  			if @form.fields.count > 0
				  	  			  @form.fields.each do |field|%> 
				  	  				<%= render('text', :field => field) %>
				  	  			<% end 
				  	  			end
				  	  		   end %>			  	  		
				  	  	</form>
			  	  	</div>
			  	  </div>
				  <div class="formButtons">
				  	<table>
				  		<tr><td class="span1">
				  		<%= button_to "Add Field", "#", :remote => true, :class => "btn btn-primary btn-large" %>
				  		</td>
				  		<td class='span1'>&nbsp;</td>
				  		<td class="span1">
				  		<%= f.submit "Save Form", :class => "btn btn-primary btn-large" %>
				  		</td></tr>
				    </table>
				  </div>
				</div>
			</div>  
		</div>
  </div>
<% end %>
