<%= form_for(@form) do |f| %>
  <div class="container-fluid">
  	<div class="row-fluid">
	  		<div class="span4 forms">  
			  <div class="field">
			    <%= f.label :name, "Form Name" %>
			    <%= f.text_field :name, :class => "text large" %>
			  </div>
			  <div class="field">
			    <%= f.label :descryption, "Description" %>
			    <%= f.text_area :descryption, :class => "textarea large" %>
			  </div>
			  <div class="field">
			    <%= f.label :align_label, "Label Placement" %>
			    <%= select_tag "form[align_label]", options_for_select([['Top Aligned', 1], ['Left Aligned', 2], ['Right Aligned', 3]])  %>
			  </div>
			  <div class="field">
				<%= f.label :confirmations, "Confirmation Options" %>
				Show Text
			    <%= f.text_area :confirmations, :class => "textarea large"  %>
			  </div>  
			</div>
			<div class="span8">
			  <%= f.hidden_field :account_id %>  
			  <div id="stage" class="afi">
			  	  <div id='main'>
			  	  	<form id="formPreview">
			  	  		<% if !@form.nil?%>
			  	  			<div id="form-title">
			  	  				<strong></strong><%=@form.name%></strong><br />
			  	  				<%= @form.descryption %>
			  	  				
			  	  			</div> 
			  	  		<% end %>
			  	  	</form>
			  	  </div>
				  <div class="formButtons">
				  	<table>
				  		<tr><td class="span1">
				  		<%= button_to "Add Field", "#", :remote => true, :class => "btn btn-primary btn-large" %>
				  		</td>
				  		<td class='span1'>&nbsp;</td>
				  		<td class="span1">
				  		<%= f.submit "Save Form", :class => "btn btn-primary btn-large" %>
				  		</td></tr>
				    </table>
				  </div>
				</div>
			</div>  
		</div>
  </div>
<% end %>
