<li id="foli<%= field.id %>" title="Click to edit. drag to reorder." class="nottranslate dragable wufoo"  onclick="editting(this, <%= field.id %>, <%=  field.form_id %>);">
	<label class="desc" id='title<%= field.id %>' for="Field">
		<%= label_field(field) %>
	</label>
	<div>
		<textarea name="Field" class="text" id="Field<%= @field.id %>" readonly="readonly" rows="<%= rows_of_textarea %>"><%= @field.predefined if @field.predefined %></textarea>		
	</div>	
	<p id="instruction<%= field.id %>" class="instruct"><%= field.instruction %></p>
	<div id="fa<%= field.id %>" class="fieldActions">
		<%= link_to content_tag(:i, '', :class => "icon-plus-sign font-green font-big").html_safe, "#" %>
    	<%= link_to content_tag(:i, '', :class => "icon-minus-sign font-red font-big").html_safe, form_remfield_path(field.id), confirm: 'Are you sure?', :method => :delete, :remote => true %><br />
	</div>
	<% if field.view == 2 %>
      <div id='icon<%= field.id %>'><i class='icon-eye-close' class='viewer'></i></div>
    <% end %>
</li>
