<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @form.name %>
</p>

<p>
  <b>Descryption:</b>
  <%= @form.descryption %>
</p>

<p>
  <b>Align label:</b>
  <%= @form.align_label %>
</p>

<p>
  <b>Confirmations:</b>
  <%= @form.confirmations %>
</p>

<p>
  <b>Account:</b>
  <%= @form.account_id %>
</p>


<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
