<%= form_for(@field) do |f| %>
  <% if @field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@field.errors.count, "error") %> prohibited this field from being saved:</h2>

      <ul>
      <% @field.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :form_id %><br />
    <%= f.number_field :form_id %>
  </div>
  <div class="field">
    <%= f.label :descryption %><br />
    <%= f.text_area :descryption %>
  </div>
  <div class="field">
    <%= f.label :choice_id %><br />
    <%= f.number_field :choice_id %>
  </div>
  <div class="field">
    <%= f.label :lenght %><br />
    <%= f.number_field :lenght %>
  </div>
  <div class="field">
    <%= f.label :value_unique %><br />
    <%= f.text_field :value_unique %>
  </div>
  <div class="field">
    <%= f.label :view %><br />
    <%= f.number_field :view %>
  </div>
  <div class="field">
    <%= f.label :min %><br />
    <%= f.number_field :min %>
  </div>
  <div class="field">
    <%= f.label :max %><br />
    <%= f.number_field :max %>
  </div>
  <div class="field">
    <%= f.label :formated %><br />
    <%= f.number_field :formated %>
  </div>
  <div class="field">
    <%= f.label :predefined %><br />
    <%= f.text_field :predefined %>
  </div>
  <div class="field">
    <%= f.label :instruction %><br />
    <%= f.text_area :instruction %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
