<legend>Add a Field</legend>
<div id='table-buttons'>
	<table>
		<tr>
			<td colspan="2">Standard</td>			
		</tr>
		<tr>
			<td class="span3">
				<%= link_to "<strong>ABC</strong>".html_safe+"  Single Line Text", '#', :class => "btn btn-default", :id => "addinput" %>
			</td>
			<td>&nbsp;&nbsp;</td>
			<td class="span3">
				<%= link_to "<strong>123</strong>".html_safe+"  Single Line Text", "#", :class => "btn btn-default" %>				
			</td>
		</tr>
		<tr>
			<td class="span3">
				<%= link_to content_tag(:i, ' Paragraph Text', :class => "icon-align-justify").html_safe, "#", :class => 'btn btn-default' %>
				
			</td>
			<td>&nbsp;&nbsp;</td>
			<td class="span3">
				<%= link_to content_tag(:i, ' Checkboxes', :class => "icon-ok").html_safe, "#", :class => 'btn btn-default' %>
			</td>
		</tr>
		<tr>
			<td class="span3">
				<%= link_to content_tag(:i, ' Multiple Choices', :class => "icon-th-list").html_safe, "#", :class => 'btn btn-default' %>
				
			</td>
			<td>&nbsp;&nbsp;</td>
			<td class="span3">
				<%= link_to content_tag(:i, ' Dropdown', :class => "icon-list").html_safe, "#", :class => 'btn btn-default' %>
			</td>
		</tr>
	</table>
</div>

<div id='main'>
	<form id="formPreview">
		<div id='fields'>
			<%# = render :partial => 'addtext' 
			%>			
		</div>	
	</form>
</div>
esso aew
